* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fff;
  color: #000;
  padding: 40px;
}

section {
  max-width: 600px;
  margin: auto;
}

button {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 12px;
}

button:hover {
  background: #fff;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th,
td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
}

th {
  font-weight: 600;
}

input[type="time"] {
  border: 1px solid #000;
  background: #fff;
  color: #000;
  padding: 2px;
  width: 100%;
}

input[type="time"]:focus {
  outline: none;
}
